<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

    <script>
      L_NO_TOUCH = false;
      L_DISABLE_3D = false;
    </script>

    <style>
      html,
      body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
    <style>
      #map {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
      }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"
    />

    <meta
      name="viewport"
      content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <style>
      #map_c27d518b313d5c016c595ac48c9b3776 {
        position: relative;
        width: 100%;
        height: 100%;
        left: 0%;
        top: 0%;
      }
      .leaflet-container {
        font-size: 1rem;
      }
    </style>

    <script src="https://cdn.jsdelivr.net/gh/python-visualization/folium@main/folium/templates/leaflet_heat.min.js"></script>
  </head>
  <body>
    <div class="folium-map" id="map_c27d518b313d5c016c595ac48c9b3776"></div>
  </body>
  <script>


                var map_c27d518b313d5c016c595ac48c9b3776 = L.map(
                    "map_c27d518b313d5c016c595ac48c9b3776",
                    {
                        center: [22.9734, 78.6569],
                        crs: L.CRS.EPSG3857,
                        ...{
      "zoom": 5,
      "zoomControl": true,
      "preferCanvas": false,
    }

                    }
                );





                var tile_layer_32caf99d11b7211f24c46ce52273df08 = L.tileLayer(
        "https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}{r}.png",
    ,
                    {
      "minZoom": 0,
      "maxZoom": 20,
      "maxNativeZoom": 20,
      "noWrap": false,
      "attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors \u0026copy; \u003ca href=\"https://carto.com/attributions\"\u003eCARTO\u003c/a\u003e",
      "subdomains": "abcd",
      "detectRetina": false,
      "tms": false,
      "opacity": 1,
    }

                );


                tile_layer_32caf99d11b7211f24c46ce52273df08.addTo(map_c27d518b313d5c016c595ac48c9b3776);


                var heat_map_034880aa0bfbca0b643c5eb176a5afa9 = L.heatLayer(
                    [[23.0225, 72.5714, 0.9448818897637795], [13.0827, 80.2707, 0.1494252873563219], [11.0168, 76.9558, 0.1395348837209302], [28.6139, 77.209, 0.2023298589822195], [17.385, 78.4867, 1.496774193548387], [22.7196, 75.8577, 2.534562211981567], [26.9124, 75.7873, 9.674267100977199], [26.4499, 80.3319, 3.219178082191781], [9.9312, 76.2673, 0.9433962264150944], [22.5726, 88.3639, 0.07087172218284904], [26.8467, 80.9462, 5.03448275862069], [19.076, 72.8777, 0.1846822379141771], [21.1458, 79.0882, 1.08], [25.5941, 85.1376, 15.65853658536585], [18.5204, 73.8567, 0.3762376237623762], [21.1702, 72.8311, 0.240174672489083]],
                    {
      "minOpacity": 0.5,
      "maxZoom": 10,
      "radius": 25,
      "blur": 15,
    }
                );


                heat_map_034880aa0bfbca0b643c5eb176a5afa9.addTo(map_c27d518b313d5c016c595ac48c9b3776);
  </script>
</html>
